
body{
  font-family: 'Baloo Tamma 2', cursive;
font-family: 'Rubik', sans-serif;
}
#bigphoto {
  
    position: absolute;
    overflow: hidden;
    /* border: 2px solid black; */
  }

#square{
   
    left:-1px;
    top:-1px;
    width:70px;
    height:70px;
    position:absolute;
    border-bottom:2px solid black;
    border-right:2px solid black ;
    border-bottom-right-radius: 20px;
    background:rgba(0, 0, 0, 0.514);
    text-emphasis-color: yellow;
}

.rooms {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%

};

/* .paymentBtn{
  color:'lightseagreen'
} */


.search-bar {
  margin-top: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}



.form-control {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width:50% !important;
 
}

/* media quireis */

@media (max-width: 576px) { 

  .rooms {
      
      grid-template-columns: 100%;
  }

  .select-capacity{
    margin-top: 1em;
  }
}
