#parallaxintro .view {
    min-height: 100vh !important;
    height: unset !important;
  }

  .col {
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    } 

    /* .navbar-collapse {

      z-index: 20 ! important;
      background-color: #2bbbad !important;
  
      padding: 1em ! important;
  } */

  nav.navbar-dark.default-color.navbar.navbar-expand-md {
    height: auto !important;
}